##配置说明##
# 方括号内为类型定义，例如[exe]。
# root 需要扫描的文件夹
# exp 需要整理的文件后缀名
# to 把对应文件放置的位置，文件夹可以存在也可以不存在
# single_level 布尔值，1表示只扫描顶层，不继续扫描文件夹中的文件夹,0 深度遍历

[exe]
root=C:\Users\Administrator\Desktop\test\
exp=exe,msi,py,bat
to=C:\Users\Administrator\Desktop\test\file_application_program
single_level=0

[torrent]
root=C:\Users\Administrator\Desktop\test\
exp=torrent
to=C:\Users\Administrator\Desktop\test\file_torrent
single_level=0

[zip]
root=C:\Users\Administrator\Desktop\test\
exp=zip,rar,tar,tar.gz,7z,bz2
to=C:\Users\Administrator\Desktop\test\file_zip
single_level=0

[pdf]
root=C:\Users\Administrator\Desktop\test\
exp=pdf
to=C:\Users\Administrator\Desktop\test\file_pdf
single_level=0

[movie]
root=C:\Users\Administrator\Desktop\test\
exp=avi,rmvb,rm,mp4,mkv,mp3
to=C:\Users\Administrator\Desktop\test\file_media
single_level=0

[msoffice]
root=C:\Users\Administrator\Desktop\test\
exp=doc,docx,ppt,pptx,xls,xlsx,csv
to=C:\Users\Administrator\Desktop\test\file_doc
single_level=0

#自己增加的分类
[pic]
root=C:\Users\Administrator\Desktop\test\
exp=pic,jpg,png,CR2,tif
to=C:\Users\Administrator\Desktop\test\file_pic
single_level=0
#自己增加的分类
[text]
root=C:\Users\Administrator\Desktop\test\
exp=txt,log
to=C:\Users\Administrator\Desktop\test\file_text
single_level=0
